.welcome-section {
    padding: 2rem 0;
    background-color: #e0e9ff;
    border-bottom: 1px solid #e9ecef; 
  }
  
  .container {
    max-width: 900px; 
    margin: auto; 
  }
  
  .display-4 {
    font-weight: 300;
    margin-bottom: 3rem; 
  }
  
  .lead {
    font-size: 1.25rem; 
    font-weight: 300; 
  }
  